# Python
__pycache__/
*.pyc
.venv/
venv/
*.db
backend/generated_pdfs/*
!backend/generated_pdfs/.gitkeep

# Node
node_modules/
frontend/dist/

# Env
.env
backend/.env
frontend/.env

# OS
.DS_Store

# IDE
.vscode/
.idea/
